@import url(https://raw.githubusercontent.com/Chortowod/Shikimori/master/csstest.css);
@import url(https://raw.githubusercontent.com/Chortowod/Shikimori/master/CharacterCorner/CharacterCorner.css);
@import url(https://raw.githubusercontent.com/Chortowod/Shikimori/master/Harem/Harem.css);
@import url(https://raw.githubusercontent.com/Chortowod/Shikimori/master/Main.css);
@import url(https://raw.githubusercontent.com/Chortowod/Shikimori/master/MainMy.css);

#plashiki-inject {
    padding-top: 15px;
}
.p-animes-show .c-info-right .watch-online .kind,
.p-mangas-show .c-info-right .watch-online .kind,
.p-ranobe-show .c-info-right .watch-online .kind
{ display: none; }

.c-info-right > .block {
    text-align: center;
}

.c-info-right > .block:nth-child(2) {
    margin-top: 10px;
}

/* Студия текстом большая */
.b-tag.active[href], .b-tag[href]:hover {
    background-color: transparent;
    border-bottom-color: transparent;
    color: #fff;
    margin-left: 0;
    margin-right: 6px;
    padding-right: 3px;
    text-decoration: none;
}

.c-about > .cc > .c-info-right > .block > .block > .b-tag {
    font-size: 28px;
    margin-bottom: 18px;
}

.c-about > .cc > .c-info-right > .block > .block {
    text-align: center;
}


/* Гарем */
article[id="12055"]	 img { background-image: url(https://i.imgur.com/cTXH9D8.jpg); object-position: 0 9999px; background-size: cover; }
article[id="147867"] img { background-image: url(https://i.imgur.com/DtF9592.png); object-position: 0px 9999px; background-size: cover; }
article[id="118777"] img { background-image: url(https://i.imgur.com/NR7Iy6Z.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="161954"] img { background-image: url(https://i.imgur.com/JWjMgpW.jpg); object-position: 0 9999px; background-size: cover; }
article[id="155554"] img { background-image: url(https://i.imgur.com/I37xBCG.png); object-position: 0px 9999px; background-size: cover; }
article[id="40624"]	 img { background-image: url(https://i.imgur.com/ynR1qwC.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="503"]    img { background-image: url(https://i.imgur.com/x4y74K3.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="118767"] img { background-image: url(https://i.imgur.com/xdgYu0l.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="82929"]  img { background-image: url(https://i.imgur.com/LyspN2a.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="38695"]  img { background-image: url(https://i.imgur.com/DQqjIf4.png); object-position: 0px 9999px; background-size: cover; }
article[id="122819"] img { background-image: url(https://i.imgur.com/t4wMRe3.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="152362"] img { background-image: url(https://i.imgur.com/pd61yLd.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="38036"]  img { background-image: url(https://i.imgur.com/RGlmsid.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="22036"]  img { background-image: url(https://i.imgur.com/siT5MMT.png); object-position: 0px 9999px; background-size: cover; }
article[id="53641"]  img { background-image: url(https://i.imgur.com/RA5nKH2.png); object-position: 0px 9999px; background-size: cover; }
article[id="81763"]  img { background-image: url(https://i.imgur.com/WlaNSAy.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="149517"] img { background-image: url(https://i.imgur.com/ZPoYBZU.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="157522"] img { background-image: url(https://i.imgur.com/E1Gmp2Y.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="143076"] img { background-image: url(https://i.imgur.com/ae6QmAh.png); object-position: 0px 9999px; background-size: cover; }
article[id="79995"]  img { background-image: url(https://i.imgur.com/IIlmBwT.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="122829"] img { background-image: url(https://i.imgur.com/DW7gyhr.png); object-position: 0px 9999px; background-size: cover; }
article[id="122827"] img { background-image: url(https://i.imgur.com/0auL39k.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="132067"] img { background-image: url(https://i.imgur.com/OCj6eCm.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="157520"] img { background-image: url(https://i.imgur.com/Ilv78Py.png); object-position: 0px 9999px; background-size: cover; }
article[id="143077"] img { background-image: url(https://i.imgur.com/qKSqdT6.png); object-position: 0px 9999px; background-size: cover; }
article[id="143075"] img { background-image: url(https://i.imgur.com/punfMhM.png); object-position: 0px 9999px; background-size: cover; }
article[id="83419"]  img { background-image: url(https://i.imgur.com/kbjz5hc.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="135879"] img { background-image: url(https://i.imgur.com/mQzCAdw.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="175552"] img { background-image: url(https://i.imgur.com/Yviau2N.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="497"]    img { background-image: url(https://i.imgur.com/i0r4uJw.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="98477"]  img { background-image: url(https://i.imgur.com/H1s1UeO.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="161261"] img { background-image: url(https://i.imgur.com/55R3wcY.png); object-position: 0px 9999px; background-size: cover; }
article[id="50057"]  img { background-image: url(https://i.imgur.com/pa6rhB3.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="106641"] img { background-image: url(https://i.imgur.com/zXWym2o.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="142098"] img { background-image: url(https://i.imgur.com/ehoZU0R.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="140810"] img { background-image: url(https://i.imgur.com/zdN5Mao.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="92805"]  img { background-image: url(https://i.imgur.com/wFG8P18.png); object-position: 0px 9999px; background-size: cover; }
article[id="19568"]  img { background-image: url(https://i.imgur.com/2ifWjeX.png); object-position: 0px 9999px; background-size: cover; }
article[id="19565"]  img { background-image: url(https://i.imgur.com/GIxFgEx.png); object-position: 0px 9999px; background-size: cover; }
article[id="19566"]  img { background-image: url(https://i.imgur.com/wJBobYS.png); object-position: 0px 9999px; background-size: cover; }
article[id="112893"] img { background-image: url(https://i.imgur.com/e4V0Wmb.png); object-position: 0px 9999px; background-size: cover; }
article[id="132504"] img { background-image: url(https://i.imgur.com/4NvNfRH.png); object-position: 0px 9999px; background-size: cover; }
article[id="69505"]  img { background-image: url(https://i.imgur.com/aD6QhWp.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="91479"]  img { background-image: url(https://i.imgur.com/NayjVRA.png); object-position: 0px 9999px; background-size: cover; }
article[id="40006"]  img { background-image: url(https://i.imgur.com/DoIeFjh.png); object-position: 0px 9999px; background-size: cover; }
article[id="148598"] img { background-image: url(https://i.imgur.com/IlLrn9X.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="112559"] img { background-image: url(https://i.imgur.com/2Nms6OX.gif); object-position: 0px 9999px; background-size: cover; }
article[id="131936"] img { background-image: url(https://i.imgur.com/MJAsrcB.png); object-position: 0px 9999px; background-size: cover; }
article[id="1105"]   img { background-image: url(https://i.imgur.com/PZILQxt.png); object-position: 0px 9999px; background-size: cover; }
article[id="155978"] img { background-image: url(https://i.imgur.com/RN3nlWo.png); object-position: 0px 9999px; background-size: cover; }
article[id="81751"]  img { background-image: url(https://i.imgur.com/KngvRkT.png); object-position: 0px 9999px; background-size: cover; }
article[id="30919"]  img { background-image: url(https://i.imgur.com/6E9llfI.png); object-position: 0px 9999px; background-size: cover; }
article[id="601"]    img { background-image: url(https://i.imgur.com/bqE7WAC.png); object-position: 0px 9999px; background-size: cover; }
article[id="35252"]  img { background-image: url(https://i.imgur.com/RFJE0Xn.png); object-position: 0px 9999px; background-size: cover; }
article[id="132818"] img { background-image: url(https://i.imgur.com/o1VqQ7q.png); object-position: 0px 9999px; background-size: cover; }
article[id="104387"] img { background-image: url(https://i.imgur.com/mGmyjAY.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="82523"]  img { background-image: url(https://i.imgur.com/iFLDyFe.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="157874"] img { background-image: url(https://i.imgur.com/NGpqOIV.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="417"]    img { background-image: url(https://i.imgur.com/BjIzTuZ.png); object-position: 0px 9999px; background-size: cover; }
article[id="118505"] img { background-image: url(https://i.imgur.com/vPVOs1D.gif); object-position: 0px 9999px; background-size: cover; }
article[id="55951"]  img { background-image: url(https://i.imgur.com/G9V1tkC.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="83419"]  img { background-image: url(https://i.imgur.com/2mBbqRe.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="138297"] img { background-image: url(https://i.imgur.com/W335RAk.png); object-position: 0px 9999px; background-size: cover; }
article[id="143853"] img { background-image: url(https://i.imgur.com/xYx6GHX.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="157523"] img { background-image: url(https://i.imgur.com/IsYwLJ1.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="157530"] img { background-image: url(https://i.imgur.com/BUjmZFF.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="146491"] img { background-image: url(https://i.imgur.com/fX5qGoN.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="31008"]  img { background-image: url(https://i.imgur.com/3ZJD8Eg.png); object-position: 0px 9999px; background-size: cover; }
article[id="159165"] img { background-image: url(https://i.imgur.com/rk0ZMnY.png); object-position: 0px 9999px; background-size: cover; }
article[id="22055"]  img { background-image: url(https://i.imgur.com/tceRXMG.png); object-position: 0px 9999px; background-size: cover; }
article[id="22055"]  img:hover { background-image: url(https://i.imgur.com/3gMTcUE.png); }
article[id="22052"]  img:hover { background-image: url(https://i.imgur.com/KJTu7Ti.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="24195"]  img { background-image: url(https://i.imgur.com/sugWMuc.png); object-position: 0px 9999px; background-size: cover; }
article[id="23602"]  img { background-image: url(https://i.imgur.com/uzt0rkV.png); object-position: 0px 9999px; background-size: cover; }
article[id="57499"]  img { background-image: url(https://i.imgur.com/SrdyP0F.png); object-position: 0px 9999px; background-size: cover; }
article[id="90393"]  img { background-image: url(https://i.imgur.com/T0sDriB.png); object-position: 0px 9999px; background-size: cover; }
article[id="22050"]  img { background-image: url(https://i.imgur.com/5YXeNjq.png); object-position: 0px 9999px; background-size: cover; }
article[id="36563"]  img { background-image: url(https://i.imgur.com/XDaqVJy.png); object-position: 0px 9999px; background-size: cover; }
article[id="29595"]  img { background-image: url(https://i.imgur.com/zjez1t1.png); object-position: 0px 9999px; background-size: cover; }
article[id="29594"]  img { background-image: url(https://i.imgur.com/ltLKQIb.png); object-position: 0px 9999px; background-size: cover; }
article[id="148233"] img { background-image: url(https://i.imgur.com/lTrqrVq.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="28556"]  img { background-image: url(https://i.imgur.com/EHZx065.png); object-position: 0px 9999px; background-size: cover; }
article[id="130338"] img { background-image: url(https://i.imgur.com/rHkLScc.png); object-position: 0px 9999px; background-size: cover; }
article[id="31274"]  img { background-image: url(https://i.imgur.com/TDhRxQh.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="179622"] img { background-image: url(https://i.imgur.com/nLmRpws.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="31522"]  img { background-image: url(https://i.imgur.com/DPW8M2Z.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="147755"] img { background-image: url(https://i.imgur.com/RPfuYUY.png); object-position: 0px 9999px; background-size: cover; }
article[id="153073"] img { background-image: url(https://i.imgur.com/7Srd9ZF.png); object-position: 0px 9999px; background-size: cover; }
article[id="143630"] img { background-image: url(https://i.imgur.com/gUF0R2F.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="122953"] img { background-image: url(https://i.imgur.com/qAG6kdh.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="75188"]  img { background-image: url(https://i.imgur.com/2TgktbA.png); object-position: 0px 9999px; background-size: cover; }
article[id="75082"]  img { background-image: url(https://i.imgur.com/XhjFEHz.png); object-position: 0px 9999px; background-size: cover; }
article[id="80243"]  img { background-image: url(https://i.imgur.com/zL9Pjk1.png); object-position: 0px 9999px; background-size: cover; }
article[id="132430"] img { background-image: url(https://i.imgur.com/Rh5lH3t.png); object-position: 0px 9999px; background-size: cover; }
article[id="136727"] img { background-image: url(https://i.imgur.com/teNXYcg.png); object-position: 0px 9999px; background-size: cover; }
article[id="16023"]  img { background-image: url(https://i.imgur.com/fuqVAJm.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="148705"] img { background-image: url(https://i.imgur.com/pipQlyy.png); object-position: 0px 9999px; background-size: cover; }

article[id="178227"] img { background-image: url(https://i.imgur.com/0HAVG3V.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="171890"] img { background-image: url(https://i.imgur.com/fl7X7pg.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="177539"] img { background-image: url(https://i.imgur.com/feFRV1g.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="145733"] img { background-image: url(https://i.imgur.com/PnkTIiP.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="2514"]   img { background-image: url(https://i.imgur.com/c8quWuE.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="67769"]  img { background-image: url(https://i.imgur.com/t75FqRG.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="168968"] img { background-image: url(https://i.imgur.com/3HMommq.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="2087"]   img { background-image: url(https://i.imgur.com/1JBr2q4.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="459"]    img { background-image: url(https://i.imgur.com/PiPSL5q.jpg); object-position: 0px 9999px; background-size: cover; }

article[id="64165"]  img { background-image: url(https://i.imgur.com/wMu5qg8.png); object-position: 0px 9999px; background-size: cover; }
article[id="136359"] img { background-image: url(https://i.imgur.com/8OH0aTX.png); object-position: 0px 9999px; background-size: cover; }
article[id="127"]    img { background-image: url(https://i.imgur.com/qUNo196.jpg); object-position: 0px 9999px; background-size: cover; }
article[id="64173"]  img { background-image: url(https://i.imgur.com/iikT5dq.png); object-position: 0px 9999px; background-size: cover; }
article[id="3385"]   img { background-image: url(https://i.imgur.com/Ahifu8m.jpg); object-position: 0px 9999px; background-size: cover; }

article[id="174177"] img { background-image: url(https://i.imgur.com/naYxUWo.png); object-position: 0px 9999px; background-size: cover; }

article[id="67071"]  img { background-image: url(https://i.imgur.com/cy0woWA.jpg); object-position: 0px 9999px; background-size: cover; }

article[id="51523"]  img { background-image: url(https://i.imgur.com/XNcM5e2.png); object-position: 0px 9999px; background-size: cover; }
article[id="157519"] img { background-image: url(https://i.imgur.com/brbYAjk.png); object-position: 0px 9999px; background-size: cover; }
article[id="117225"] img { background-image: url(https://i.imgur.com/B4TKlWh.gif); object-position: 0px 9999px; background-size: cover; }
article[id="116319"] img { background-image: url(https://i.imgur.com/378yU7P.png); object-position: 0px 9999px; background-size: cover; }
article[id="112909"] img { background-image: url(https://i.imgur.com/GZ4hfx8.png); object-position: 0px 9999px; background-size: cover; }
article[id="82525"]  img { background-image: url(https://i.imgur.com/0NdkWRU.png); object-position: 0px 9999px; background-size: cover; }
article[id="117063"] img { background-image: url(https://i.imgur.com/BLYdE8z.png); object-position: 0px 9999px; background-size: cover; }
article[id="99661"]  img { background-image: url(https://i.imgur.com/4wR7EGi.png); object-position: 0px 9999px; background-size: cover; }
article[id="42469"]  img { background-image: url(https://i.imgur.com/vEfmnqu.png); object-position: 0px 9999px; background-size: cover; }
article[id="10010"]  img { background-image: url(https://i.imgur.com/oIh3TyI.png); object-position: 0px 9999px; background-size: cover; }
article[id="118767"] img { background-image: url(https://i.imgur.com/1mcwAVy.gif); object-position: 0px 9999px; background-size: cover; }

/*Выделение лучших персов в гареме*/
.b-catalog_entry .cover .title.two_lined { text-align: center; }

.entry-117225 .name-ru,
.entry-82525 .name-ru,
.entry-116319 .name-ru,
.entry-117063 .name-ru,
.entry-99661 .name-ru,
.entry-23602 .name-ru,
.entry-157519 .name-ru,
.entry-29594 .name-ru,
.entry-112909 .name-ru,
.entry-42469 .name-ru,
.entry-53641 .name-ru,
.entry-10010 .name-ru,
.entry-51523 .name-ru,
.entry-19568 .name-ru,
.entry-118767 .name-ru
{ color: #ff5900; }

/* Адаптация под разные экраны */

@media screen and (max-width: 480px) {
    .p-profiles-show .cc-favourites .c-column:nth-child(6n) {
        margin-right: 2%;
    }
    .p-profiles-show .achievements > .subheadline > a,
    .p-profiles-show .profile-content .cc-2 > .c-right > .block > .subheadline > a {
        font-size: 24px !important;
    }
}

@media screen and (max-width: 1300px) {
    .p-profiles .profile-head .c-history {
        display: none;
    }
    .p-profiles .profile-head .c-brief {
        padding-left: 0 !important;
    }
}

@media screen and (max-width: 1200px) {
    .u-tabs [data-tab-switch] {
        width: 16%;
        margin-left: 1px;
    }
    .p-profiles-show .profile-content .cc-2 > .c-right > .block > .subheadline > a:after {
        content: none;
    }
    .p-profiles-show .profile-content .cc-2 > .c-right > .block > .subheadline > a {
        visibility: visible;
        color: #88ff00;
        text-shadow: 0 0 12px #7adc00;
        font: 40px Comfortaa, sans-serif;
        padding-right: 0;
        text-align: center;
    }
}

@media screen and (max-width: 768px) {
    .u-tabs [data-tab-switch] {
        display: block;
        margin: 2px auto !important;
        width: 75% !important;
    }
}




















.p-profiles-show .cc-favourites .c-column:nth-child(11n+1) {
    clear: left;
}
.p-profiles-show .cc-favourites .c-column:nth-child(8n+1) {
    clear: inherit;
}

.p-profiles-show .cc-favourites .c-column:nth-child(11n) {
    margin-right: 0;
}
.p-profiles-show .cc-favourites .c-column:nth-child(8n) {
    margin-right: 2%;
}

.p-profiles-show .cc-favourites .c-column {
    width: 7.27%;
}








.p-profiles-show .profile-content > .cc-2 > .c-right > .m30 > .m0 > .subheadline > a {
    padding: inherit;
    font-weight: inherit;
}



.p-profiles .profile-head .c-brief header h1 {
    font: 55px Comfortaa, sans-serif;
}
.p-profiles .profile-head .c-history {
    margin-top: 8%;
}
.p-profiles .profile-head .c-brief {
    padding-left: 23%;
    text-align: center;
}
.p-profiles .profile-head .c-brief .avatar {
    display:none;
}

.p-profiles .profile-head:before {
    display: block;
    border-radius: 10px;
    content: '';
    background-image: url(https://i.imgur.com/1dFK8V3.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding-bottom: 15%;
    margin-bottom: 10px;
}




/* $('.u-tabs > div:not(".hidden") .c-character') */

.cc-9-g15>.c-column {
    margin-bottom: 6px;
}

@media screen and (min-width: 768px) {
    .cc-9-g15 > .c-column:last-child {
        margin-bottom: 0 !important;
    }
}
    /* Скрывает списки коллекций и показывает только при наведении
    div > .menu-slide-outer > .menu-slide-inner > .l-menu .block > .block { opacity: 0; }
    div > .menu-slide-outer > .menu-slide-inner > .l-menu .block > .block:hover { opacity: 1; } */

.b-db_entry > .c-image img:hover {
    max-width: initial;
    width: auto !important;
    position: relative;
    z-index: 2;
}

.p-profiles .profile-head .c-brief .avatar img {
    width: 255px;
}

/* Изменить цвет примечания "анонс" в списке запланированного */
.p-user_rates-index .list-lines tr td .anons { color: #ff0073; }

/* Нововведения шики со спойлерами надо будет пересмотреть */
.b-spoiler_block.is-opened > div {background-color: #020e0f;}

/* Буковка Р строки "Ранобэ" в правом верхнем выпадающем меню */
#ctwRanobe:before { content: '℗'; font-size: 26px; }

/* Обводка просмотренных тайтлов и убирание зеленой галочки */
.c-column.b-catalog_entry.completed {
    border: 1.5px solid #09f11b;
    border-radius: 20px 20px 0 0;
    background-color: #2fce2338;
}
.c-column.b-catalog_entry.planned {
    border: 1.5px solid #ffdf003d;
    border-radius: 20px 20px 0 0;
    background-color: #ffdf003d;
}
.c-column.b-catalog_entry.on_hold {
    border: 1.5px solid #c4c4c4;
    border-radius: 20px 20px 0 0;
    background-color: #ffffff1f;
}
.c-column.b-catalog_entry.watching {
    border: 1.5px solid #08dbff;
    border-radius: 20px 20px 0 0;
    background-color: #00f4ff57;
}
.c-column.b-catalog_entry.dropped {
    border: 1.5px solid #ff000045;
    border-radius: 20px 20px 0 0;
    background-color: #ff00004f;
}

.c-column.b-catalog_entry.rewatching {
    border: 1.5px solid #d800ff45;
    border-radius: 20px 20px 0 0;
    background-color: #682769;
}

.c-column.b-catalog_entry.completed > .cover > .image-decor:after,
.c-column.b-catalog_entry.planned > .cover > .image-decor:after,
.c-column.b-catalog_entry.on_hold > .cover > .image-decor:after,
.c-column.b-catalog_entry.watching > .cover > .image-decor:after,
.c-column.b-catalog_entry.dropped > .cover > .image-decor:after,
.c-column.b-catalog_entry.completed > .cover > .image-decor:before,
.c-column.b-catalog_entry.planned > .cover > .image-decor:before,
.c-column.b-catalog_entry.on_hold > .cover > .image-decor:before,
.c-column.b-catalog_entry.watching > .cover > .image-decor:before,
.c-column.b-catalog_entry.dropped > .cover > .image-decor:before
{ content: none; }

/* Подсветка красным очевидных рекапов и компиляций */
.name-ru[data-text*="Рекап"], .name-ru[data-text*="Компиляция"], .name-ru[data-text*="Репродукция"] { color: red; }





/*Цвета у категорий вайфу*/
.u-tabs > div:nth-child(3) > div.headline:nth-child(1)  { color: #ffb000; text-shadow: 3px 4px 8px #c55b00f7; }
.u-tabs > div:nth-child(3) > div.headline:nth-child(4)  { color: #fbc7c8; text-shadow: 3px 4px 8px #d23692; }
.u-tabs > div:nth-child(3) > div.headline:nth-child(7)  { color: #fd8f31; text-shadow: 3px 4px 8px #c55b00f7; }
.u-tabs > div:nth-child(3) > div.headline:nth-child(10) { color: #5c69f9; text-shadow: 3px 4px 8px #d819ae; }
.u-tabs > div:nth-child(3) > div.headline:nth-child(13) { color: #ff00c8; text-shadow: 3px 4px 8px #b400ff; }
.u-tabs > div:nth-child(3) > div.headline:nth-child(16) { color: #e4ff00; text-shadow: 3px 4px 8px #a8b020; }
.u-tabs > div:nth-child(3) > div.headline:nth-child(19) { color: #ff000c; text-shadow: 3px 4px 8px #c11142; }
.u-tabs > div:nth-child(3) > div.headline:nth-child(22) { color: #7900fd; text-shadow: 3px 4px 8px #5600ff; }
.u-tabs > div:nth-child(3) > div.headline:nth-child(25) { color: #ffffff; text-shadow: 3px 4px 7px #ff0000; }
.u-tabs > div:nth-child(3) > div.headline:nth-child(28) { color: #00b5fd; text-shadow: 3px 4px 8px #0997c1; }
.u-tabs > div:nth-child(3) > div.headline:nth-child(31) { color: #da00ff; text-shadow: 3px 4px 8px #cb00ff; }
.u-tabs > div:nth-child(3) > div.headline:nth-child(34) { color: #ff0044; text-shadow: 3px 4px 8px #ff0076; }
.u-tabs > div:nth-child(3) > div.headline:nth-child(37) { color: #009eff; text-shadow: 3px 4px 8px #008aff; }

/* Сердечко вместо оценки в просмотренном */
tr[data-target_id="7791"] span.current-value[data-field="score"] { visibility: hidden; margin-right: 13px; }
tr[data-target_id="7791"] span.current-value[data-field="score"]:after { content: "❤"; color: red; visibility: visible; }

/*Изменение оценки в просмотренном и описание пояснений цвета
.status-2:before { content: 'Цветом апельсина отмечены анимешки, которые я смотрел с кем-то'; color: orange; }
.b-collection_search:after { content: 'Цветом лайма отмечены анимешки, \A которые я смотрел в кино'; color: lime; }
.list-groups:before { content: 'Цветом моря отмечены анимешки, которые я смотрел в дороге'; color: aqua; } */

.p-user_rates-index .list-lines tr[data-target_id="15051"] .name a, .p-user_rates-index .list-lines tr[data-target_id="28957"] .name a,
.p-user_rates-index .list-lines tr[data-target_id="36098"] .name a, .p-user_rates-index .list-lines tr[data-target_id="23289"] .name a,
.p-user_rates-index .list-lines tr[data-target_id="33524"] .name a, .p-user_rates-index .list-lines tr[data-target_id="32542"] .name a,
.p-user_rates-index .list-lines tr[data-target_id="4224"]  .name a, .p-user_rates-index .list-lines tr[data-target_id="38040"] .name a,
.p-user_rates-index .list-lines tr[data-target_id="5391"]  .name a, .p-user_rates-index .list-lines tr[data-target_id="1639"]  .name a,
.p-user_rates-index .list-lines tr[data-target_id="37786"] .name a, .p-user_rates-index .list-lines tr[data-target_id="37989"] .name a,
.p-user_rates-index .list-lines tr[data-target_id="36028"] .name a, .p-user_rates-index .list-lines tr[data-target_id="37873"] .name a,
.p-user_rates-index .list-lines tr[data-target_id="38759"] .name a, .p-user_rates-index .list-lines tr[data-target_id="36633"] .name a,
.p-user_rates-index .list-lines tr[data-target_id="18857"] .name a, .p-user_rates-index .list-lines tr[data-target_id="13659"] .name a,
.p-user_rates-index .list-lines tr[data-target_id="10020"] .name a, .p-user_rates-index .list-lines tr[data-target_id="8769"]  .name a,
.p-user_rates-index .list-lines tr[data-target_id="36296"] .name a, .p-user_rates-index .list-lines tr[data-target_id="38610"] .name a,
.p-user_rates-index .list-lines tr[data-target_id="34881"] .name a, .p-user_rates-index .list-lines tr[data-target_id="32071"] .name a,
.p-user_rates-index .list-lines tr[data-target_id="32995"] .name a, .p-user_rates-index .list-lines tr[data-target_id="35849"] .name a,
.p-user_rates-index .list-lines tr[data-target_id="10893"] .name a, .p-user_rates-index .list-lines tr[data-target_id="34497"] .name a,
.p-user_rates-index .list-lines tr[data-target_id="19703"] .name a, .p-user_rates-index .list-lines tr[data-target_id="37208"] .name a,
.p-user_rates-index .list-lines tr[data-target_id="35608"] .name a, .p-user_rates-index .list-lines tr[data-target_id="30484"] .name a,
.p-user_rates-index .list-lines tr[data-target_id="31812"] .name a, .p-user_rates-index .list-lines tr[data-target_id="33352"] .name a,
.p-user_rates-index .list-lines tr[data-target_id="30"]    .name a, .p-user_rates-index .list-lines tr[data-target_id="20541"] .name a,
.p-user_rates-index .list-lines tr[data-target_id="23227"] .name a, .p-user_rates-index .list-lines tr[data-target_id="35557"] .name a,
.p-user_rates-index .list-lines tr[data-target_id="37521"] .name a, .p-user_rates-index .list-lines tr[data-target_id="22071"] .name a,
.p-user_rates-index .list-lines tr[data-target_id="30240"] .name a, .p-user_rates-index .list-lines tr[data-target_id="32485"] .name a,
.p-user_rates-index .list-lines tr[data-target_id="39026"] .name a, .p-user_rates-index .list-lines tr[data-target_id="47"] .name a,
.p-user_rates-index .list-lines tr[data-target_id="39565"] .name a
{ color: orange; }
.p-user_rates-index .list-lines tr[data-target_id="17341"] .name span, .p-user_rates-index .list-lines tr[data-target_id="14355"] .name span,
.p-user_rates-index .list-lines tr[data-target_id="26055"] .name span, .p-user_rates-index .list-lines tr[data-target_id="31933"] .name span,
.p-user_rates-index .list-lines tr[data-target_id="14719"] .name span, .p-user_rates-index .list-lines tr[data-target_id="1535"]  .name span,
.p-user_rates-index .list-lines tr[data-target_id="20899"] .name span, .p-user_rates-index .list-lines tr[data-target_id="37105"] .name span,
.p-user_rates-index .list-lines tr[data-target_id="37884"] .name span, .p-user_rates-index .list-lines tr[data-target_id="38710"] .name span
{ color: orange; }

.p-user_rates-index .list-lines tr[data-target_id="7791"]  .name a, .p-user_rates-index .list-lines tr[data-target_id="17843"] .name a,
.p-user_rates-index .list-lines tr[data-target_id="18041"] .name a, .p-user_rates-index .list-lines tr[data-target_id="28927"] .name a,
.p-user_rates-index .list-lines tr[data-target_id="26243"] .name a, .p-user_rates-index .list-lines tr[data-target_id="34213"] .name a,
.p-user_rates-index .list-lines tr[data-target_id="32681"] .name a, .p-user_rates-index .list-lines tr[data-target_id="32039"] .name a,
.p-user_rates-index .list-lines tr[data-target_id="17341"] .name a, .p-user_rates-index .list-lines tr[data-target_id="14355"] .name a,
.p-user_rates-index .list-lines tr[data-target_id="37826"] .name a, .p-user_rates-index .list-lines tr[data-target_id="35484"] .name a,
.p-user_rates-index .list-lines tr[data-target_id="16774"] .name a, .p-user_rates-index .list-lines tr[data-target_id="34481"] .name a,
.p-user_rates-index .list-lines tr[data-target_id="35424"] .name a, .p-user_rates-index .list-lines tr[data-target_id="27887"] .name a,
.p-user_rates-index .list-lines tr[data-target_id="21435"] .name a, .p-user_rates-index .list-lines tr[data-target_id="21435"] .name a,
.p-user_rates-index .list-lines tr[data-target_id="32038"] .name a, .p-user_rates-index .list-lines tr[data-target_id="27441"] .name a,
.p-user_rates-index .list-lines tr[data-target_id="1210"]  .name a, .p-user_rates-index .list-lines tr[data-target_id="34414"] .name a,
.p-user_rates-index .list-lines tr[data-target_id="35425"] .name a, .p-user_rates-index .list-lines tr[data-target_id="35086"] .name a,
.p-user_rates-index .list-lines tr[data-target_id="21743"] .name a, .p-user_rates-index .list-lines tr[data-target_id="3901"]  .name a,
.p-user_rates-index .list-lines tr[data-target_id="2251"]  .name a, .p-user_rates-index .list-lines tr[data-target_id="35672"] .name a,
.p-user_rates-index .list-lines tr[data-target_id="35673"] .name a, .p-user_rates-index .list-lines tr[data-target_id="14349"] .name a,
.p-user_rates-index .list-lines tr[data-target_id="6862"]  .name a, .p-user_rates-index .list-lines tr[data-target_id="9734"]  .name a,
.p-user_rates-index .list-lines tr[data-target_id="5680"]  .name a, .p-user_rates-index .list-lines tr[data-target_id="16001"] .name a,
.p-user_rates-index .list-lines tr[data-target_id="11887"] .name a, .p-user_rates-index .list-lines tr[data-target_id="8425"]  .name a,
.p-user_rates-index .list-lines tr[data-target_id="3702"]  .name a, .p-user_rates-index .list-lines tr[data-target_id="29067"] .name a,
.p-user_rates-index .list-lines tr[data-target_id="26349"] .name a, .p-user_rates-index .list-lines tr[data-target_id="2251"]  .name a,
.p-user_rates-index .list-lines tr[data-target_id="13535"] .name a, .p-user_rates-index .list-lines tr[data-target_id="30714"] .name a,
.p-user_rates-index .list-lines tr[data-target_id="36904"] .name a
{ color: aqua; }

.p-user_rates-index .list-lines tr[data-target_id="35851"] .name a,  .p-user_rates-index .list-lines tr[data-target_id="12477"] .name a,
.p-user_rates-index .list-lines tr[data-target_id="38826"] .name a,  .p-user_rates-index .list-lines tr[data-target_id="35848"] .name a
{ color: lime; }



/*Запасные анимированные обои: https://i.imgur.com/vHxDyeO.gif*/
/*Падающий снег: url(https://thumbs.gfycat.com/IndelibleDigitalFly-small.gif) repeat, */
/*Другой снег: url(https://joopakerboom.github.io/thehatefuleight/images/snow_alpha.gif) repeat, */
/*Ветка ели: url(https://img1.picmix.com/output/stamp/normal/8/5/0/0/680058_f2005.gif) fixed right -45px top 330px / 420px no-repeat, */
/*Ель: url(https://media.giphy.com/media/Vbsmuqt7OXPWPGpZkZ/giphy.gif) fixed left -290px bottom -300px / 1000px no-repeat, */

/*Анимированные обои*/
body
{
    background:
        /*Ветка сакуры*/
            url(https://i.imgur.com/JL30lEG.gif) fixed right -5px top 350px / 320px no-repeat,
                /*Падающая сакура*/
            url(https://i.imgur.com/94LfKZx.gif) repeat,
                /*Коеми*/
            url(https://i.imgur.com/TRcn63o.gif) fixed center / cover!important; animation: blef 10s linear infinite;

}


@media (min-width:1640px) {
    body
    {
        background:
            /*Шинобу*/
            /*url(https://bit.ly/36Dx2w8) fixed left -40px bottom / 460px no-repeat,*/
            /*Оуги*/
                url(https://i.imgur.com/CmM6Pjk.gif) fixed right bottom / 310px no-repeat,
                    /*Паймон*/
                    /*url(https://i.imgur.com/hveEe7a.gif) fixed left 30px bottom -10px / 340px no-repeat,*/
                    /*Сэйбер*/
                url(https://i.imgur.com/MGeoUxB.png) fixed left 0px bottom -30px / 380px no-repeat,
                    /*Рам*/
                    /*url(https://i.imgur.com/etNWS2J.gif) fixed left 30px bottom -33px / 253px no-repeat,*/
                    /*Ветка сакуры*/
                url(https://i.imgur.com/JL30lEG.gif) fixed right -5px top 350px / 320px no-repeat,
                    /*Сакура*/
                url(https://i.imgur.com/OgvXwWh.png) fixed left -220px bottom -20px / 800px no-repeat,
                    /*Падающая сакура*/
                url(https://i.imgur.com/94LfKZx.gif) repeat,
                    /*Коеми*/
                url(https://i.imgur.com/TRcn63o.gif) fixed center / cover!important; animation: blef 10s linear infinite;
    }

    /*Изменение обоев при уходе курсора со страницы*/
    body:hover
    {
        background:
            /*Оуги*/
                url(https://i.imgur.com/CmM6Pjk.gif) fixed right bottom / 310px no-repeat,
                    /*Паймон*/
                    /*url(https://i.imgur.com/hveEe7a.gif) fixed left 30px bottom -10px / 340px no-repeat,*/
                    /*Сэйбер*/
                url(https://i.imgur.com/E79zfvt.png) fixed left 0px bottom -30px / 380px no-repeat,
                    /*Рем*/
                    /*url(https://i.imgur.com/Uueli9h.gif) fixed left 30px bottom -10px / 225px no-repeat,*/
                    /*Ветка сакуры*/
                url(https://i.imgur.com/JL30lEG.gif) fixed right -5px top 350px / 320px no-repeat,
                    /*Сакура*/
                url(https://i.imgur.com/OgvXwWh.png) fixed left -220px bottom -20px / 800px no-repeat,
                    /*Падающая сакура*/
                url(https://i.imgur.com/94LfKZx.gif) repeat,
                    /*Коеми*/
                url(https://i.imgur.com/TRcn63o.gif) fixed center / cover!important;
        animation: blef 10s linear infinite;
    }
}


/*Добавление к комменту текста*/
.b-comment.shiki-object[id="5833179"] > .inner > .body:after { content: " и мой Господин"; }
.b-comment.shiki-object[id="5833179"] > .inner > aside.buttons { display: none; }


