/* Уменьшение отступа после "Активности" */ 
.p-profiles .profile-head .c-info .c-additionals { margin-bottom: 0px; }

/* Увеличение отступа победителей */
.b-db_entry > .c-about .contest_winners .winners { margin-top: 17px; }

/* Изменение цвета кастомного описания анимешек в просмотренном */
.p-user_rates-index .list-lines tr td .rate-text { color: #e9e2da; }

/* Покраска звезд рейтинга в зеленый */
.b-rate .stars.score { color: #bb12a8; }

/* Цвет комментариев в редакторе - зеленый */
.cm-s-solarized .cm-comment { color: #0dff4a; font-style: italic; } 

/* Цвет - История: "просмотрено n эпизодов" */
.history-interval { color: #c1c1c1; }

/* Изменение цвета выделения */
::selection { color: #fff; background: #34c34dfc; } 

/* Цвет надписи "онгоинг" в просмотренных аниме в профиле */
.p-user_rates-index .list-lines tr td .ongoing { color: #ff6700; }

/* Сокрытие надписи "Обо мне" */
.p-profiles-show .about .subheadline { display: none; }

/* Убрать нижнюю полосу со ссылками и копирайтом */
.l-footer { visibility: hidden; }

/* Изменяется цвет иконки "Добавить в избранное" после добавления в избранное */
.b-subposter-action.fav-remove:before { color: red; }

/* Цвет общих эпизодов в онгоингах в профиле */
.p-user_rates-index .list-lines tr td .episodes_total { color: #e1e02a; font-size: 11px; }

/* Значок Гиасса слева вверху, где логотип шики */
.l-top_menu-v2 .logo-container .glyph { background-image: url(https://i.imgur.com/nF4faHm.gif); }

/* Удаление тени текста в редакторе кода. С ней текст был расплывчатый */
.cm-s-solarized.cm-s-light { text-shadow: #000 0 0px; }

/* Разделитель для разновидностей просмотренного в профиле */
.b-stats_bar .stat_names .stat_name:after { color: white; content: '|'; }

/* Округление и плавность выпадающего меню профиля */
.l-top_menu-v2 .menu-dropdown .submenu {
	top: auto;
    opacity: 0;
    transition: 0.4s all;
    pointer-events: none;
	border-radius: 0 0 20px 20px;
}
.l-top_menu-v2 .submenu > .legend { 
    border-radius: 0 0 10px 10px;
	margin-bottom: 3px;
    padding-left: 15px;
    font-size: 10px;
    color: rgba(var(--light-color), 1);
    background: rgba(var(--block-color), 0.7);
    box-shadow: 0px 6px 6px 1px rgba(0, 0, 0, 0.15);
}
.l-top_menu-v2 .menu-dropdown.profile > span { border-radius: 19px 0 0 0; }
.l-top_menu-v2 .menu-dropdown.active .submenu { opacity: 1; pointer-events: auto; }



/* Достижения франшиз */
body.p-achievements.p-profiles.p-profiles .b-badge img { transition: 0.3s all; }
.b-badge:before { background: none; display: block; }

/* Блокировка рекламы */
.spns_yd_240x600,
.spns_yd_970x90,
.spns_yd_300x600
{ display: none }

/* Цвет графиков оценок у аниме и их округление */
.bar.simple .bar.s0, 
.bar.simple .bar.s1, 
.bar.simple .bar.s2, 
.bar.simple .bar.s3 
{ background: #34c34dfc; border-radius: 4px; }

/* Изменение пиктограмм списка */
.b-list li { color: #34c34dfc; list-style-image: none; list-style: disc; }

/* Изменение стиля цитат */
.b-quote { background: #000!important; color: #fff!important; border: 1px dashed; }

/* Изменение цвета блока "Наверх" слева */
.b-to-top .slide:before { background: #000; }

/* Показать остальное: цвет */
.b-show_more { color: #1aca1a; font-size: 12px; }

/* Скрытие блока с отчетом об ошибке слева */
.b-feedback { visibility: hidden; }

/* Изменение цвета шкалы манги и аниме рядом с аватаркой */
.b-stats_bar .bar .third { background: #aaa; color: black; font-size: 12px; font-weight: bold;}
.b-stats_bar.lifetime .bar .first { background: #01ff06fc; }
.b-stats_bar.lifetime .bar .third { background: #ff9907d4; }
.b-stats_bar.anime .bar .first,
.b-stats_bar.manga .bar .first 
{ background: #01ff06fc; color: black; font-size: 12px; font-weight: bold; }
.b-stats_bar.anime .bar .second, 
.b-stats_bar.manga .bar .second 
{ background: #ff9907d4; color: black; font-size: 12px; font-weight: bold; }

/* Изменение стиля текста под шкалой манги и аниме рядом с аватаркой */
.b-stats_bar .stat_names { font-size: 12px; line-height: 1.65; font: 12px Comfortaa, bsans-serif; }

/* Цвет заголовков (название аниме/манги и т.п.) */
b,
header.head h1, 
header.head h2 
{ color: #fff; }

/* Затемнение фона заголовков */
.headline, 
.midheadline, 
.subheadline  
{ color: #fff; background: #000; border-left: 0px; }

/* Блок с контентом */
.l-page 
{
  background: #000;
  color: #f2f8ff;
  box-shadow: 0 0 10px rgba(0,0,0,0.5);
  border-radius: 20px;
  opacity: 0.9;		/* полупрозрачность */
  margin-top: 55px;	/* отступ шапки 46px */
  margin-bottom: 14px;
}

/* Шапка */
.l-top_menu-v2 { background: #000; transition: 0.3s all; position: fixed; width: 100%; top: 0px;}
.is-overflowed-below::before, 
.is-overflowed-below::after,
.is-overflowed-above::before,
.is-overflowed-above::after,
.search-results.is-overflowed-below::after
{ opacity: 0 !important; }


/* Альтернативное расположение блоков в профиле */
@media only screen and (min-width: 768px) 
{
  .p-profiles-show .lifetime { margin-bottom: 15px; }
  .p-profiles-show .profile-content .cc-2 > .c-column { width: 100%; }
  .p-profiles-show .profile-content .cc-2 > .c-right { float: none; }
  .p-profiles-show .profile-content .cc-2 > .c-right .cc-2a { width: 23%; overflow: hidden; }
  .p-profiles-show .profile-content .cc-2 > .c-right .cc-2a > .c-column { width: 100%; margin: 0; }
  .p-profiles-show .profile-content .cc-2 > .c-right .cc-2a > .c-column:last-child { margin-top: 15px; }
  .p-profiles-show .profile-content .cc-2 > .c-right > .block:last-child { clear: both; }
  .p-profiles-show .profile-content .cc-2 > .c-left  
  { position: relative; width: 77%; padding-right: 30px; margin-right: 0; z-index: 1; }
}

/* Невидимый фон у кнопки "Показать другие названия" у аниме */
.p-animes-show .other-names, 
.p-mangas-show .other-names, 
.p-ranobe-show .other-names 
{ background: #bb585800; color: #00ff05; border: 1px solid #f2f2f200; font-size: 20pt; margin-left: 0px; }

/* Темное оформление блока поиска */
.l-top_menu-v2 .global-search .search-results .nothing_found.active,
.l-top_menu-v2 .global-search .search-results .nothing_found:focus,
.l-top_menu-v2 .global-search .search-results .b-db_entry-variant-list_item.active,
.l-top_menu-v2 .global-search .search-results .b-db_entry-variant-list_item:focus,
.l-top_menu-v2 .global-search .search-results .search-mode.active,
.l-top_menu-v2 .global-search .search-results .search-mode:focus 
{ background: linear-gradient(270deg, rgb(19, 32, 41) 0%, rgb(0, 0, 0) 100%),rgb(29, 27, 27); }

.l-top_menu-v2 .global-search .search-results .nothing_found.active:before, 
.l-top_menu-v2 .global-search .search-results .nothing_found:focus:before, 
.l-top_menu-v2 .global-search .search-results .b-db_entry-variant-list_item.active:before, 
.l-top_menu-v2 .global-search .search-results .b-db_entry-variant-list_item:focus:before, 
.l-top_menu-v2 .global-search .search-results .search-mode.active:before, 
.l-top_menu-v2 .global-search .search-results .search-mode:focus:before 
{ background: #d06d10; }

.l-top_menu-v2 .global-search .search-results .nothing_found, 
.l-top_menu-v2 .global-search .search-results .search-mode 
{ color: #fff; background: linear-gradient(270deg, #2a2826 0%, rgb(48, 24, 7) 100%),rgb(33, 33, 30); }

.l-top_menu-v2 .global-search .search-results .search-mode:hover 
{ background: linear-gradient(270deg, rgb(216, 82, 19) 0%, rgba(17, 173, 239, 0.81) 100%),rgb(43, 138, 204); }

.l-top_menu-v2 .global-search .search-results .nothing_found, 
.l-top_menu-v2 .global-search .search-results .b-db_entry-variant-list_item, 
.l-top_menu-v2 .global-search .search-results .search-mode 
{ border-top: 1px solid rgba(173, 85, 38, 0.66); }

.l-top_menu-v2 .global-search .search-results .search-mode, 
.l-top_menu-v2 .global-search .search-results .b-db_entry-variant-list_item 
{ background-color: #161616; }

.b-anime_status_tag.episode, 
.b-anime_status_tag.studio 
{ background-color: #00ffc8c4; border: 1px solid #00ffc800; color: #000; }

.b-db_entry-variant-list_item>.info .line .key { color: #daddda; }

/* Изменение цвета "Запланировано", "Брошено", "Просмотрено" и т.д. в истории просмотра */
.b-options-floated.mobile-desktop > a[data-id="planned"] { color: #27c8d5; font-size: 15px; }
.b-options-floated.mobile-desktop > a[data-id="watching"] { color: #34c34dfc; font-size: 15px; }
.b-options-floated.mobile-desktop > a[data-id="rewatching"] { color: #34c34dfc; font-size: 15px; }
.b-options-floated.mobile-desktop > a[data-id="completed"] { color: #12f316; font-size: 15px; }
.b-options-floated.mobile-desktop > a[data-id="on_hold"] { color: #dd5202; font-size: 15px; }
.b-options-floated.mobile-desktop > a[data-id="dropped"] { color: #f60000; font-size: 15px; }

/* Изменение стиля "Запланировано", "Брошено", "Просмотрено" и т.д. */
.b-stats_bar .stat_names .stat_name[data-type="planned"] { font-size: 25px; color: #f18100;}
.b-stats_bar .stat_names .stat_name[data-type="watching,rewatching"] { font-size: 25px; }
.b-stats_bar .stat_names .stat_name[data-type="completed"] { font-size: 25px; }
.b-stats_bar .stat_names .stat_name[data-type="on_hold"] { font-size: 25px; }
.b-stats_bar .stat_names .stat_name[data-type="dropped"] { font-size: 25px; }
.b-stats_bar .stat_names .stat_name[data-type="watching,rewatching"]:after { visibility: hidden; }
.b-stats_bar .stat_names .stat_name[data-type="on_hold"]:after { visibility: hidden; }

.b-stats_bar > .stat_names > .stat_name[data-type="planned"] > a { color: #27c8d5; }
.b-stats_bar > .stat_names > .stat_name[data-type="completed"] > a { color: #12f316; }
.b-stats_bar > .stat_names > .stat_name[data-type="on_hold"] > a { color: #dd5202; }
.b-stats_bar > .stat_names > .stat_name[data-type="dropped"] > a { color: #f60000; }

.b-stats_bar a.title { margin-bottom: 1px; font-size: 18px; }
.b-stats_bar .stat_names { text-align: center; }
.b-stats_bar.anime > a { color: #f18100; }
.b-stats_bar.manga > a { color: #f18100; }
.b-stats_bar .stat_names .stat_name>a:hover { color: #feff00; }
.b-stats_bar > a.title:hover { color: #feff00; }

/* В просмотренных и т.д. убираются лишние элементы и выделяется поле поиска */
.is-own-profile .menu-slide-outer.x199 > .menu-slide-inner > .l-content > .subheadline-buttons, 
.is-own-profile .menu-slide-outer.x199 > .menu-slide-inner > .l-content > .subheadline
{ visibility: hidden; }
.b-collection_search .field input { border: solid 2px; color: #d1cbcb; }

/* Убирает элементы типа "стрелочка" во всех заголовках */
.subheadline > a:before { content: ""; }

/* Изменение шрифта слов "История" и "Достижения" в профиле */
.profile-head > .c-history > .subheadline.m13,
.p-profiles-show .achievements > .subheadline 
{ text-align: center; }

.profile-head > .c-history > .subheadline.m13 > a
{ color: #34c34dfc; font: 24px Comfortaa, sans-serif; padding-right: 0px; }

.p-profiles-show .achievements > .subheadline > a 
{ color: #88ff00; font: 40px Comfortaa, sans-serif; padding-right: 0px; }

/* Изменение шрифта слова "Друзья" и "Клубы" в профиле */
.p-profiles-show .profile-content > .cc-2 > .c-right > .m30 > .m0 > .subheadline
{ color: #34c34dfc; text-align: center; font: 24px Comfortaa, sans-serif; }

/* Изменение шрифта слова "Избранное" в профиле */
.p-profiles-show .profile-content .cc-2 > .c-right > .block > .subheadline > a:after 
{
	content: 'Любимые сэйю';
	color: #88ff00;
	position: relative;
	/* right: 96px; */
	margin-left: 27.1%;
	visibility: visible;
	font: 40px Comfortaa, sans-serif;
	text-shadow: 0 0 12px #7adc00;
}
.p-profiles-show .profile-content .cc-2 > .c-right > .block > .subheadline > a { visibility: hidden; }

/* Изменение шрифта "К манге" и "К аниме" в просмотренном */
.p-profiles header.head .misc[title="к манге"] { font-size: 37px; color: #f36606; }
.p-profiles header.head .misc[title="к аниме"] { font-size: 37px; color: #f36606; }

/* Небольшой отступ второй строки в блоке "Избранное" и уменьшение его границ сверху и снизу (пустоты вокруг блока) */
.p-profiles-show .cc-favourites .c-column { margin-bottom: 1%; }
.p-profiles-show .profile-content .cc-2 > .c-right > .block:last-child { margin-bottom: -25px; }

/* Замена элемента цвета скрытого блока в просмотренных аниме в профиле */
.collapsed { background: #23a52052; border-radius: 15px; border: none; color: #fff; font-size: 8pt; }
.collapsed:hover { background: #ad6e1352; border-radius: 15px; border: none; color: #fff; font-size: 8pt; }

/* Цвет и подсветка никнейма в профиле */
.p-profiles .profile-head .c-brief header h1 {
	color: #c900ff;
	font-weight: bold;
	text-shadow: 0px 0px 9px #00a6ff;
	font: 43px Comfortaa, sans-serif;
	transition: 0.5s ease;
}
.p-profiles .profile-head .c-brief header h1:hover 
{ color: #04dcbc; text-shadow: 0px -7px 14px #ff0000; transition: 0.5s ease-out; }

/* Подсветка лого студии */
.p-animes-show .studio-logo, .p-mangas-show .studio-logo, .p-ranobe-show .studio-logo
{ background-color: white; box-shadow: 0px 0px 15px 0px #07f2c6; }

/* Невидимая аватарка и действия под аватаркой */
.profile-head .avatar img { visibility: hidden; width: 300px; height: 200px;}
.p-profiles .profile-head .c-brief .avatar .profile-actions { visibility: hidden; }

/* Вывод картинки при наведении на лого шики */
.l-top_menu-v2 .logo-container .glyph:hover { 
	background-image:url(https://i.imgur.com/g4UBzhn.gif); 
	width: 500px;
	height: 500px;
	background-size: contain;
	background-position: bottom;
	margin-top: 380px;
	margin-left: -14px;
}

/* Расплытие аватарки при наведении в просмотренных аниме */
.p-user_rates-index .l-menu .avatar img { filter: blur(3px);  transition: 0.5s ease; }
.p-user_rates-index .l-menu .avatar img:hover { filter: none; transition: 0.5s ease-out; }

/* Аниме/Манга/Ранобэ рядом с пунктами истории */
.history-page a:before { display: inline-block; vertical-align: top; width: 30px; }
.history-page a[href ^= "/a"]:before { content: '[А] '; color: #34a853; }
.history-page a[href ^= "/m"]:before { content: '[М] '; color: #9c27b0; }
.history-page a[href ^= "/r"]:before { content: '[Р] '; color: #039be5; }
