a,
.b-stats_bar a.title, 
.p-profiles .profile-head .c-info .c-lists-info .b-stats_bar .compatibility a, 
.p-profiles .profile-head .c-info .c-lists-info .b-stats_bar .compatibility span.link-replacement,
.headline>a, 
.midheadline>a, 
.subheadline>a, 
.b-shiki_editor footer 
.about-bb_codes, 
.l-footer .links a,
.b-options-floated a, 
.b-options-floated .link, 
.b-form .cancel, 
.b-link, 
header.head h1 a.back, 
header.head h2 a.back,
.b-stats_bar .stat_names .stat_name a, 
.p-profiles .profile-head .c-mobile-actions a, 
.p-profiles .profile-head .c-mobile-actions span,
.b-catalog_entry .cover .title, 
.p-dashboards-show .c-content .options .option,
.b-forums .forum .link-with-input .link, 
.b-topic>.inner header .name-date a.name,
.p-dashboards .user_list .list-type>.title .switch, 
.p-dashboards .user_list .history>.title .switch,
.p-dashboards .user_list .list-type>.title .link, 
.p-dashboards .user_list .history>.title .link,
.b-entry-info .line a, .b-catalog_entry-tooltip .inner .line .value .tag,
.b-db_entry>.c-about .additional-links .line-container>.link, 
.b-db_entry>.c-about .additional-links .line-container>a,
.b-height_shortener .expand, 
.b-catalog_entry-tooltip .inner a.name,
.b-db_entry-note .name-container .name, 
.b-spoiler label, .b-mention, .b-mention s, 
.b-comment>.inner header .name-date a.name,
.b-user.named_avatar .name, .b-animes-menu .menu-topics-block .entry .name, 
.b-lang_trigger span, .b-user16,
.p-user_rates-index .stat-categories .category, 
.b-options-floated .action, 
.b-options-floated.mobile-desktop a,
.p-topics header h1 a.reload, 
header.head a.misc, 
header.head a.edit, 
.p-animes_collection-index .pagination .link, 
.p-mangas_collection-index .pagination .link, 
.p-recommendations-index .pagination .link, 
.p-userlist_comparer-show .pagination .link,
.b-video_variant.active a, 
.p-anime_videos-index .c-videos .video-variant-switcher, 
.b-video_variant a, 
.b-video_variant .video-author,
.subheadline .misc-links>a, 
.b-dialog>.inner header .name-date a.name, 
.b-message>.inner header .name-date a.name,
.b-user.detailed .history .line a .event,
.p-profiles-edit .account .change-password a,
.p-profiles-edit .misc .profile-action a:not(.b-button), 
.p-profiles-edit .misc .profile-action .link, 
.p-profiles-edit .misc .nickname-changes a:not(.b-button), 
.p-profiles-edit .misc .nickname-changes .link, 
.p-profiles-edit .list .profile-action a:not(.b-button), 
.p-profiles-edit .list .profile-action .link, 
.p-profiles-edit .list .nickname-changes a:not(.b-button), 
.p-profiles-edit .list .nickname-changes .link,
.b-js-link, 
.p-contests-index .contest a, 
.p-contests .results a, 
.p-contests .match-day .match-link a,
.p-contests .rating .member a, 
.b-contest_match .vs .actions .action span, 
.b-club .name,
.c-actions .new_comment:after, 
.c-actions .new_review:after, 
.c-actions .fav-add:after, 
.c-actions .edit:after,
.b-options-floated.mobile-phone a, 
.b-tag, 
.b-topic .footer-vote .vote-group .vote,
.p-profiles .profile-head .c-info .c-additionals div a,
.c-actions .fav-remove:after, 
.p-user_history-index .history-page .history-interval p a, 
.b-options-floated.mobile-phone_portrait a,
.p-userlist_comparer .comparer table .name a,
.b-shiki_editor footer .unpreview:not(.link), 
.b-shiki_editor footer .cancel, 
.b-shiki_editor footer .hide, 
.p-profiles-show .about a, 
.b-comments .comments-collapser, 
.club-actions .upload:after,
.club-actions .invite:after, 
.club-actions .leave:after, 
.b-bb_codes-examples .result a,
.b-edit_styles .edit_style .style_css .editor-expand.active, 
.b-edit_styles .edit_style .style_css .editor-collapse.active,
.p-profiles .profile-head .c-brief header .notice a, 
.b-comment.aside-expanded>.inner aside.buttons .main-controls .item-reply,
.b-comment.aside-expanded>.inner aside.buttons .main-controls .item-delete,
.b-comment.aside-expanded>.inner aside.buttons .main-controls .item-cancel,
.b-comment.aside-expanded>.inner aside.buttons .main-controls .item-edit,
.b-comment.aside-expanded>.inner aside.buttons .main-controls .item-moderation,
.b-topic.aside-expanded>.inner aside.buttons .main-controls .item-ignore,
.b-topic.aside-expanded>.inner aside.buttons .main-controls .item-reply,
.b-topic.aside-expanded>.inner aside.buttons .main-controls .item-cancel
{ color: #bd280a; font-weight: bold; border: none; }

.l-top_menu .menu-items .entry a, .l-top_menu .submenu>.entry, .b-main_search ul.popup,
.b-main_search .popup li.active, .b-main_search .popup li:hover, .b-main_search .input input,
.b-main_search ul.popup li, .ac_results, div.b-db_entry-variant-list_item
{ border: none; }

.p-user_rates-index .list-lines tr td .new-value .item-add { position: relative; }
.p-user_rates-index .list-lines tr .name a { color: #bd280a; font-weight: bold; }
.p-user_rates-index .list-lines tr .name a:hover { color: #fff; }
