img.b-poster { max-width: 186.3px; border-radius: 42px; }											/*Ограничение максимального размера картинки в шипперстве"*/

.p-profiles-show .about > .headline {
	text-align: center;
	/* background-color: #c27609; */
	background-size: 1px;
	border-radius: 15px;
	color: #88ff00;
	font: 40px Comfortaa, sans-serif;
	text-shadow: 0 0 12px #7adc00;
}
.u-tabs [data-tab-switch] {
	display: inline-block;
	padding: .25em .75em;
	border: 2px solid;
	border-radius: 20px;
	font-weight: bold;
	opacity: .5;
	cursor: pointer;
	width: 12%;
	font: 16px Comfortaa, sans-serif;
}
.block { margin-bottom: 0px; }
.u-tabs > div:not([data-tab]) { white-space: nowrap; overflow-x: auto; text-align: center; margin-bottom: 30px; }
.u-tabs .active[data-tab-switch] { color: #ffa200; opacity: 1; width: 12%; font: 16px Comfortaa, sans-serif;}
.u-tabs [data-tab-switch]:not(:first-child) { margin-left: 10px; }
.u-tabs [data-tab] { margin-top: 10px; }